<center>
<h1>STUDENTS</h1>
<head>
<link rel="stylesheet" 
href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVTk1QXuGKe0gJAP7mhOoWk9VCfBX5WSDmIw&usqp=CAU');
}
</style>
</head>
<table border='3'  bgcolor="pink">       
  <tr>
    <th>StudentName</th>
    <th>RollNo</th>
    <th>Course</th>
  </tr>
<% @students.each do |student| %>
  <tr>
    <td><%= student.student_name %></td>
    <td><%= student.rollno %></td>
    <td><%= student.course %></td>
    <td><%= link_to 'Show', student_path(student) %></td>
    <td>
    <div class="input-icons">
    <a href="<%= edit_student_path(student) %>" style="color: black;"><i class="fa fa-edit icon"></i></a>
    </td>
    <td>
    <div class="input-icons">
    <a href="<%= student_path(student) %>" style="color: black;"><i class="fa fa-trash-o icon"></i></a>
    </td>             
  </tr>
<% end %>
</table>
</center>

<%= link_to "New student", new_student_path %>
